@import "tailwindcss";

@theme {
  --color-background-main: var(--bg-main);
  --color-background-ui: var(--bg-ui);
  --color-text-main: var(--text-main);
  --color-diff-added-bg: var(--diff-added-bg);
  --color-diff-added-fg: var(--diff-added-fg);
  --color-diff-removed-bg: var(--diff-removed-bg);
  --color-diff-removed-fg: var(--diff-removed-fg);
  --color-diff-empty-bg: var(--diff-empty-bg);
  --color-hover-overlay: var(--hover-overlay);
  --color-ui-selected-bg: var(--ui-selected-bg);
  --color-ui-hover-bg: var(--ui-hover-bg);
  --color-minimap-added: var(--minimap-added);
  --color-minimap-removed: var(--minimap-removed);
}

:root {
  --bg-main: #ffffff;
  --bg-ui: #f6f8fa;
  --text-main: #24292e;
  --diff-added-bg: #e6ffed;
  --diff-added-fg: #acf2bd;
  --diff-removed-bg: #ffeef0;
  --diff-removed-fg: #fdb8c0;
  --diff-empty-bg: #f0f0f0;
  --hover-overlay: rgba(0, 0, 0, 0.05);
  --ui-selected-bg: #f0f8ff;
  --ui-hover-bg: #f8f8f8;
  --minimap-added: #8fe3c7;
  --minimap-removed: #f5a4a4;
}

body {
  background-color: var(--bg-ui);
  color: var(--text-main);
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

.hide-vertical-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

.hide-vertical-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-vertical-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}

.hide-vertical-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}